# Arquivos de sistema do Windows
desktop.ini
Thumbs.db

# Pastas e arquivos de cache do Python
__pycache__/
*.pyc

# Ambientes virtuais
venv/
.venv/

# Arquivo Gerado por `contacts`
meus_contatos

# Arquivo JSON gerado por `contacts`
contatos.json 

# Arquivo de configuração de `contacts` 
last_agenda_file.txt 

# Arquivo .txt de palavras em inglês
words.txt

# Menu de python_sessions (em fase de implementação)
run_sessions.py

# CHANGELOG.md arquivado
CHANGELOG_archive.md

# Script para Refatoração
from_MENEZES.py